@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$background: #FFFFFF;
$primary: #111111;
$secondary: #6B6B6B;
$bgspan: #F4D04E;
$font: "Figtree", sans-serif;

* {
    font-family: $font;
    line-height: 150%;
}

.card {
    background: $background;
    width: 384px;
    height: 522px;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #111111;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
}

.imgmob {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 194px;
    gap: 12px;
    justify-content: space-between;
}

.category {
    background-color: $bgspan;
    width: 82px;
    padding: 4px 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    display: flex;
    gap: 8px;
}

.date {
    font-size: 14px;
    font-weight: 500;
    color: $primary;
}

.title {
    font-size: 24px;
    font-weight: 800;
}

.title:hover {
    color: #F4D04E;
    cursor: pointer;
}

.description {
    font-size: 16px;
    font-weight: 500;
    color: $secondary;
}

.author {
    display: flex;
    align-items: center;
    width: 129px;
    gap: 12px;
}

.name {
    font-size: 14px;
    font-weight: 800;
}

@media screen and (max-width: 376px) {
    .card {
        width: 327px;
        height: 501px;
        gap: 24px;
        padding: 24px;
    }

    .imgdesk {
        display: none;
    }
    
    .imgmob {
        display: flex;
    }

    .content {
        width: 279px;
        height: 173px;
    }

    .category {
        width: 73px;
        font-size: 12px;
    }

    .date {
        font-size: 12px;
    }

    .title {
        font-size: 20px;
    }
    
    .description {
        font-size: 14px;
    }
}